header{
    background-color: #303030;
    height: 475px; 
}

div.container{
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

h1.titulo-principal{
    font-size: 60px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
    margin: 20px 0 0 62px;
    line-height: 120px;
}

p.titulo-secundario{
    font-size: 20px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
    margin-left: 62px;
}

section.conteudo{
    height: 229px;
    background-color: #F9F9F9;
    display: grid;
    grid-auto-flow: column; 
    columns:auto;
    justify-content: space-evenly;
    align-items: center;
}

b.number{
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
}

p.empreendimento, p.experiencia, p.projetos{
    font-size: 20px;
    font-weight: 400;
}
